{#
    - goes with tweet.less 
    - wrap `.tweet`s in a `.tweets`

    v1.4 supports
    - text tweets
    - retweets
    - links in the tweet
    - attached media (if `images` is "1" or true)
    - web intents
    - avatar support (if `avatars` is "1" or true)

#}
<div class="tweet">
    {% set include_images, show_avatars, links_in_tweet = false, false, true %}
    {% if images == true or images == '1' %}
        {% set include_images = true %}
    {% endif %}
    {% if avatars == true or avatars == '1' %}
        {% set show_avatars = true %}
    {% endif %}

    {% set source, author = item.user, source %}

    {% set tweet = item %}
    {% if item.retweeted_status %}
        {% set tweet = item.retweeted_status %}
    {% endif %}

    <div class="tweet-meta">
        {% if item.retweeted_status %}
                <span class="tweet-retweeted">
            <a href="https://twitter.com/{{item.user.screen_name}}">
                    {{item.user.name}}{% spaceless %}
                        {% if item.user.verified == true %}
                        <svg class="tweet-verified" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 72">
                          {#<path fill="none" d="M0 0h64v72H0z"/>#}
                          <path class="tweet-badge" d="M3 37.3c0 4 2.2 7.7 5.4 9.6v1.3c0 6 4.6 11 10.4 11 1.3 0 2.6-.2 3.7-.7 1.7 3.7 5.3 6.2 9.5 6.2s7.8-2.6 9.5-6.3c1 .5 2.4.7 3.7.7 5.8 0 10.5-5 10.5-11V47c3-2 5.3-5.6 5.3-9.7 0-4.4-2.4-8-6-10 .5-1 .7-2.4.7-3.8 0-6-4.7-11-10.5-11-1.3 0-2.6.2-3.7.6-1.7-3.4-5.3-6-9.5-6s-7.8 2.6-9.5 6c-1-.2-2.4-.4-3.7-.4-5.8 0-10.5 5-10.5 11 0 1.4.2 2.7.6 4-3.7 1.7-6 5.4-6 9.8z"/>
                          <path class="tweet-check" fill="#FFF" d="M18 39l7 7c.5.6 1.2 1 2 1s1.5-.4 2-1c.5-.3 16-16 16-16 1.3-1 1.3-3 0-4.2-1-1-3-1-4 0l-14 14-5-5c-1-1-3-1-4 0-1.3 1.2-1.3 3 0 4.3z"/>
                        </svg>
                        {% endif %}
            {% endspaceless %} Retweeted
            </a>
                </span>
        {% endif %}
        <div class="tweet-user{% if show_avatars %}-with-avatar{% endif %}">
            {% if show_avatars %}
            <div class="tweet-user-avatar">
                <a href="https://twitter.com/{{tweet.user.screen_name}}">
                    <img src="{{tweet.user.profile_image_url_https}}" alt="{{tweet.user.screen_name}}">
                </a>
            </div>
            {% endif %}
            <div class="tweet-user-info">
                <a href="https://twitter.com/{{tweet.user.screen_name}}">
                    <span class="tweet-user-name">{% spaceless %}
                        {{tweet.user.name}}
                        {%- if tweet.user.verified == true -%}
                        <svg class="tweet-verified" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 72">
                          {#<path fill="none" d="M0 0h64v72H0z"/>#}
                          <path class="tweet-badge" fill="#88c9f9" d="M3 37.3c0 4 2.2 7.7 5.4 9.6v1.3c0 6 4.6 11 10.4 11 1.3 0 2.6-.2 3.7-.7 1.7 3.7 5.3 6.2 9.5 6.2s7.8-2.6 9.5-6.3c1 .5 2.4.7 3.7.7 5.8 0 10.5-5 10.5-11V47c3-2 5.3-5.6 5.3-9.7 0-4.4-2.4-8-6-10 .5-1 .7-2.4.7-3.8 0-6-4.7-11-10.5-11-1.3 0-2.6.2-3.7.6-1.7-3.4-5.3-6-9.5-6s-7.8 2.6-9.5 6c-1-.2-2.4-.4-3.7-.4-5.8 0-10.5 5-10.5 11 0 1.4.2 2.7.6 4-3.7 1.7-6 5.4-6 9.8z"/>
                          <path class="tweet-check" fill="#FFF" d="M18 39l7 7c.5.6 1.2 1 2 1s1.5-.4 2-1c.5-.3 16-16 16-16 1.3-1 1.3-3 0-4.2-1-1-3-1-4 0l-14 14-5-5c-1-1-3-1-4 0-1.3 1.2-1.3 3 0 4.3z"/>
                        </svg>
                        {% endif %}
                    {% endspaceless %}</span> <span class="tweet-no-hover">@{{tweet.user.screen_name}}</span>
                </a>
                <div class="tweet-date-separator"></div>
                <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
                    <span class="tweet-date">
                        {{ tweet.created_at|date('F d') }}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="tweet-text">
        {{ tweet.text
            |regex_replace(
                '#\\b([\\w\\d]+)\\b',
                '<a class="tweet-hashtag" href="https://twitter.com/hashtag/$1?src=hash">#$1</a>'
            )
            |regex_replace(
                '@\\b([\\w\\d]+)\\b',
                '<a class="tweet-at" href="https://twitter.com/$1">@$1</a>'
            )
            |autolink
        }}
    </div>
    {% if include_images == 'true' and item.entities.media %}
        {% for media in item.entities.media %}
        <div class="tweet-media">
            {% set ratio = media.sizes.large.h / media.sizes.large.w %}
            <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
                <div class="tweet-image" style="background-image:url({{media.media_url_https}}); padding-top: calc(100% * {{ratio}})"></div>
            </a>
        </div>
        {% endfor %}
    {% endif %}
    <div class="tweet-intents">
        <a class="tweet-reply" href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 72">
              <path d="M41 31h-9V19c0-1-.6-2.2-1.7-2.7-1-.5-2.2-.4-3 .3l-21 16C5.3 33.2 5 34 5 35s.4 1.8 1.2 2.4l21 16c.5.4 1.2.6 1.8.6.5 0 1 0 1.3-.3 1-.5 1.7-1.6 1.7-2.7V39h9c5.5 0 10 4.5 10 10 0 2.2 1.8 4 4 4s4-1.8 4-4c0-10-8-18-18-18z"/>
            </svg>
        </a>
        <a class="tweet-retweet" href="https://twitter.com/intent/retweet?tweet_id={{tweet.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 72">
              <path d="M70.7 36.6c-.5-1-1.6-1.6-2.7-1.6h-7V19c0-2.2-1.8-4-4-4H34c-2.2 0-4 1.8-4 4s1.8 4 4 4h18c.6 0 1 .4 1 1v11h-7c-1 0-2.2.6-2.7 1.6s-.4 2.3.3 3.2l11 15C55 55.5 56 56 57 56s2-.5 2.4-1.2l11-15c.7-1 .8-2 .3-3.2zM40 48H22c-.5 0-1-.4-1-1V36h7c1 0 2.2-.6 2.7-1.6s.4-2.3-.3-3.2l-11-15C19 15.5 18 15 17 15s-2 .5-2.4 1.2l-11 15c-.7 1-.8 2-.3 3.2C3.8 35.4 5 36 6 36h7v16c0 2.2 1.8 4 4 4h23c2.2 0 4-1.8 4-4s-1.8-4-4-4z"/>
            </svg>
        </a>
        <a class="tweet-like" href="https://twitter.com/intent/like?tweet_id={{tweet.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 72">
              <path d="M38.7 12c-7.2 0-11 7.3-11.7 8-.6-.7-4.5-8-11.7-8-6.5 0-11.8 6.2-11.8 12.6C3.5 40 22 56 27 56s23.5-16 23.5-31.4c0-6.4-5.3-12.6-11.8-12.6z"/>
            </svg>
        </a>
    </div>
</div>